{% extends 'base1.html' %}
{% load static %}
{% block content %}

<div class="col">
                        <aside class="profile-nav alt">
                            <section class="card">
                                <div class="card-header user-header alt bg-secondary">
                                    <div class="media">
                                        <a href="#">
                                            <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="{% static 'images/avatar/1.jpg'%}">
                                        </a>
                                        <div class="media-body">
                                            <h2 class="text-light display-8">{{datas.nama}}</h2>
                                            <p class="text-light">{{datas.npk}}</p>
                                        </div>
                                    </div>
                                </div>


                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-envelope-o"></i> {{datas.email}} <span class="badge badge-primary pull-right">10</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-briefcase"></i> {{datas.get_unit_kerja_display}} <span class="badge badge-danger pull-right">15</span></a>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#"> <i class="fa fa-whatsapp" aria-hidden="true"></i> {{datas.no_hp}} <span class="badge badge-success pull-right">11</span></a>
                                    </li>
                                    
                                </ul>
                                <div class="card-body row m-0">
                                    <div class="col" align="left">
                                        <a class="btn btn-danger" role="button" href="#" data-toggle="modal" data-target="#staticModal" >Hapus</a>
                                            
                                    </div>
                                    <div class="col" align="right">
                                        <a class="btn btn-primary" href="{% url 'pk_langsa:karyawan_list'%}" role="button">Kembali</a>
                                        <a class="btn btn-success" role="button" href="{% url 'pk_langsa:karyawan_edit' pk=datas.pk %}">Ubah Data</a>
                                    </div>
                                </div>
                            </section>
                        </aside>
                    </div> <!-- .row -->
                    <div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="alert alert-danger" role="alert">
                                        <h5 class="modal-title" id="staticModalLabel">Peringatan</h5>
                                    </div>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Apakah anda ingin menghapus {{ datas.nama }} dengan NPK {{ datas.npk }}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                    <a class="btn btn-danger" role="button" href="{% url 'pk_langsa:karyawan_delete' pk=datas.pk %}">Ya</a>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock content %}