{% extends 'base1.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Daftar PK Karyawan</strong>
                            </div>
                            <div class="table-stats order-table ov-h">
                                                         
                                <table class="table ">
                                    <thead>
                                        <tr align="justify">
                                            <th class="serial">No</th>
                                            <th class="avatar">Avatar</th>
                                            <th>NPK</th>
                                            <th>Nama</th>
                                            <th>Keterangan</th>
                                            <th>Nominal</th>
                                            <th>Tanggal Pengajuan</th>
                                            <th>Jatuh Tempo</th>
                                            <th>Sisa Hari</th>
                                            <th>Status</th>
                                        </tr>
                                    
                                    </thead>
                                    <tbody>
                                    {% for data in datas %}
                                        <tr>
                                            <td class="serial">{{ forloop.counter }}</td>
                                            <td class="avatar">
                                                <div class="round-img">
                                                    <a href="#"><img class="rounded-circle" src="{% static 'images/avatar/1.jpg'%}" alt=""></a>
                                                </div>
                                            </td>
                                            <td> {{ data.karyawan.npk }} </td>
                                            <td> <span class="name">{{ data.karyawan.nama }}</span> </td>
                                            <td> <span class="product">{{ data.keterangan }}</span> </td>
                                            <td> <span>{{ data.nominal|intcomma }}</span></td>
                                            <td> <span class="date">{{ data.tgl_pk|date:"d-m-Y" }}</span></td>
                                            <td> <span class="date">{{ data.jatuh_tempo|date:"d-m-Y" }}</span></td>
                                            <td> <span class="date">{{ data.jatuh_tempo|timeuntil }}</span></td>
                                            <td> <span class="badge badge-complete">Complete</span></td>
                
                                                
                                            
                                        </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>
                                
                            </div> <!-- /.table-stats -->
                        </div>
                    </div>
                    
</div>
{% endblock content %}